@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #000;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #595959;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn-add {
  display: inline-block;
  padding: 10px 24px;
  background: #D90429;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;

}

.intro-gradient {
  background: rgb(253, 251, 251);
  background: linear-gradient(180deg, rgba(253, 251, 251, 1) 0%, rgba(253, 251, 251, 1) 50%, rgba(235, 237, 238, 1) 100%);
}

.btn-add:hover {
  background: #c80326;
}

.shadow-link {
  box-shadow: 0px 0px 15px 5px rgba(34, 60, 80, 0.2);
}

.btn-size {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 15px;
  background: #fff;
  color: #595959;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 8px;
  transition: all .2s ease-in-out;
}

.btn-size:hover {
  background: #f5f5f5;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}